.header__lang-link {
    margin: 18px 0 6px 18px;

    color: white;
    text-decoration: none;
    text-align: right;
    transition: opacity .4s ease-out;
}

.header__lang-link:hover {
    text-decoration: underline;
    opacity: .8;
}

@media screen and (min-width: 320px) {
    .header__lang-link {
        line-height: 111%;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        line-height: 117%;
        font-size: 24px;
    }
}