.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
}

.cover__link:hover .cover__overlay {
    opacity: 0.8;
}