.place__title {
    justify-self: start;
    align-self: end;
    max-width: 460px;
    font-weight: 900;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (min-width: 320px) {
    .place__title {
        margin: 0 0 32px 16px;
        max-width: 288px;
        font-size: 2rem;
        line-height: 109%;
    }
}

@media screen and (min-width: 768px) {
    .place__title {
        margin: 0 0 32px;
        max-width: 340px;
        font-size: 2.625rem;
        line-height: 106%;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        max-width: 440px;
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .place__title {
        max-width: 460px;
    }
}