.place__title{
    margin: 0 0 48px;
    justify-self: start;
    align-self: end;
    max-width: 460px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    grid-column: 1;
    grid-row: 1;
}
@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 2rem;
        line-height: 109%;
        grid-row: 1;
        margin-left: 16px;
    }
}
