
.page {
    display: grid;
    font-family: Inter, serif;
    background-color: #2A2C2F;
    color: white;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


