
.page {
    display: grid;
    font-family: 'Inter',Arial, sans-serif;
    background-color: #2A2C2F;
    color: white;
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


