.photo-grid {
    max-width: 1184px;
    display: grid;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 320px ) {
    .photo-grid {
        gap: 0;
        row-gap: 12px;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px ) {
    .photo-grid {
        gap: 16px;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px ) {
    .photo-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1280px ){
    .photo-grid{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}


