.photo-gallery {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 1024px ) {
    .photo-gallery {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px ) {
    .photo-gallery {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}