.photo-grid {
    max-width: calc(100vw - 5%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-self: center;
    justify-self: center;
}


@media screen and (max-width: 768px ) {
    .photo-grid {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px ) {
    .photo-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 320px ) {
    .photo-grid {
        justify-self: start;
        gap: 0;
        row-gap: 12px;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

