.place__website {
    max-width: 456px;
    align-self: end;
    margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
    .place__website {
        grid-row: 2;
        justify-self: start;
        margin-left: 16px;
    }
}