.places{
    align-items: center;
    justify-items: center;
    margin: 92px auto auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 80px;
}