.places{
    align-items: start;
    justify-items: center;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;
}
@media screen and (max-width: 320px){
    .places{
        justify-self: start;
    }
}