.places {
    align-items: start;
    justify-items: center;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(5, min-content);
}

@media screen and (min-width: 320px) {
    .places {
        row-gap: 50px;
    }
}

@media screen and (min-width: 768px) {
    .places {
        row-gap: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        row-gap: 80px;
    }
}