.place__image{
    grid-column: 1;
    justify-self: start;
}

@media screen and (min-width: 320px ) {
    .place__image {
        max-height: 320px;
        max-width: 320px;
        grid-row: 3;
    }
}

@media screen and (min-width: 768px ) {
    .place__image {
        grid-row: 2;
        max-height: 340px;
        max-width: 340px;
    }
}
@media screen and (min-width: 1024px ) {
    .place__image {
        max-height: 440px;
        max-width: 440px;
    }
}
@media screen and (min-width: 1028px) {
    .place__image{
        max-width: 460px;
    }
}