.place__image{
    grid-column: 1;
    grid-row: 2;
    width: 100vw;
    max-width: 460px;
    justify-self: start;
}


@media screen and (max-width: 1024px ) {
    .place__image {
        max-height: 440px;
    }
}

@media screen and (max-width: 768px ) {
    .place__image {
        max-height: 340px;
    }
}
@media screen and (max-width: 320px ) {
    .place__image {
        max-height: 320px;
        grid-row: 3;
    }
}