.place{
    margin: 0 148px;
    padding-left: 0;
    list-style: none;
    grid-column: 2/4;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 30% 1fr;
    grid-auto-rows: 0;
    justify-items: start;
    align-items: start;
}