.place{
    justify-self: start;
    margin: 0;
    padding-left: 0;
    list-style: none;
    grid-column: 2/4;
    display: grid;
    column-gap: 40px;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(2,min-content);
    grid-auto-rows: 0;
    justify-items: start;
    align-items: start;
}
@media screen and (max-width: 320px){
    .place{
        grid-template-columns: min-content;
        grid-template-rows: repeat(4,min-content);
        justify-self: start;
    }
}

@media screen and (max-width: 1024px){
    .place{
        column-gap: 32px;
    }
}
@media screen and (max-width: 768px){
    .place{
        column-gap: 28px;
    }
}
