.intro__list{
    grid-column: 2;
    grid-row: 3;
    padding-left: 0;
    list-style: none;
}
@media screen and (max-width: 768px) {
    .intro__list {
        grid-column: 1;
        grid-row: 3;
    }
}