.lead {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-content: start;
    align-self: center;
}

@media screen and (min-width: 320px) {
    .lead {
        grid-template-columns: 1fr;
        margin: 0 auto;
        justify-self: start;
        max-width: 100vw;
    }
}

@media screen and (min-width: 768px) {
    .lead {
        grid-template-columns: 1fr max-content 1fr;
    }
}


@media screen and (min-width: 1024px) {
    .lead {
        max-width: calc(1024px - 96px);
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: calc(1280px - 296px);
    }
}
