.lead {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3,min-content);
    justify-content: start;
    align-self: center;
}
@media screen and (max-width: 768px) {
    .lead{
        justify-self: start;
        max-width: 100vw;
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width: 1024px) {
    .lead {
        max-width: calc(1024px - 96px);
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: calc(1280px - 296px);
    }
}
