.lead {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3,min-content);
    justify-content: start;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .lead{
        grid-template-columns: 1fr;
        justify-self: start;
    }
}
@media screen and (max-width: 320px) {
    .lead{
        max-width: 288px;
    }
}