.cover__subtitle {
    z-index: 1;
    margin: 0 auto;
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 320px) {
    .cover__subtitle {
        line-height: 114%;
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 1.125rem;
        line-height: 122%;
    }
}