
.header{
    width: 90%;
    max-height: 52px;
    display: grid;
    margin-top: 28px;
    justify-items: end;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}
@media screen and (min-width: 320px) {
    .header{
        margin:16px 16px 0;
    }
}
