.place__paragraphs {
    align-items: start;
    display: grid;
    max-width: 484px;
}


@media screen and (min-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
    }
}