.place__paragraphs{
    align-items: start;
    display: grid;
    max-width: 484px;
}


@media screen and (max-width: 320px) {
    .place__paragraph{
        max-width: 288px;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraph{
        max-width: 352px;
    }
}
@media screen and (max-width: 1024px) {
    .place__paragraph{
        max-width: 456px;
    }
}