.lead__title{
    grid-column: 2;
    max-width: 73%;
    grid-row: 1;
    align-self: start;
    text-align: center;
    margin: 56px auto 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
}