.lead__title{
    grid-column: 2;
    max-width: 720px;
    grid-row: 1;
    align-self: start;
    text-align: center;
    margin: 56px auto 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 2.5rem;
        margin: 56px auto 0;
        grid-column: 1;
    }
}
@media screen and (max-width: 768px ) {
    .lead__title {
        margin: 48px auto 0;
    }
}
