.lead__title {
    grid-row: 1;
    align-self: start;
    text-align: center;
    font-weight: 900;
}

@media screen and (min-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 2.5rem;
        margin: 56px auto 0;
        grid-column: 1;
        line-height: 110%;
    }
}

@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        grid-column: 2;
        margin: 56px auto 0;
        line-height: 104%;
        font-size: 6rem;
    }
}

