.footer__links {
    display: grid;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@media screen and (min-width: 320px) {
    .footer__links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);
        row-gap: 32px;
    }
}

@media screen and (min-width: 768px) {
    .footer__links {
        row-gap: 0;
        column-gap: 18px;
        grid-template-columns: repeat(5, min-content);
        grid-template-rows: min-content;
    }
}