.footer__copyright {
    font-size: 0.875rem;
}

@media screen and (min-width: 320px) {
    .footer__copyright {
        text-align: start;
        grid-column: 1;
        grid-row: 2;
        line-height: 100%;
        margin: 48px 0 24px;
    }
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        grid-row: 1;
        text-align: end;
        grid-column: 11;
        line-height: 114%;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        text-align: end;
        grid-column: 12;
        line-height: 114%;
        padding-left: calc(1184px - 1152px);
    }
}