.lead__image {
    margin: 0 auto;
    max-width: 984px;
    max-height: 615px;
    justify-self: center;
}


@media screen and (max-width: 1024px ) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }
}
@media screen and (max-width: 786px ) {
    .lead__image {
        max-width: 786px;
        max-height: 480px;
    }
}
@media screen and (max-width: 320px ) {
    .lead__image {
        max-width: 320px;
        max-height: 200px;
    }
}