@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-Bold.woff2?v=3.15") format("woff2"),
    url("Inter-Bold.woff?v=3.15") format("woff");
}