.intro__text{
    grid-column: 2;
    grid-row: 2;
    width: 690px;
    height: 208px;
}
@media screen and (max-width: 768px) {
    .intro__text {
        grid-column: 1;
        grid-row: 2;
    }
}