.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);

}

@media screen and (min-width: 320px) {
    .intro {
        max-width: 288px;
        justify-self: center;
        margin: 64px 16px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px auto 88px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        max-width: 690px;
        justify-self: start;
        margin: 92px 0 92px;
        padding-left: calc((100vw - 928px) / 2);
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding-left: 0;
        justify-self: center;
        margin: 92px 294px 92px 0;
    }
}