.intro {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,min-content);
    justify-content: start;
    margin: 92px 294px 92px 0 ;
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 64px 16px;
        max-width: 288px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        margin: 88px auto 88px 0;
    }
}
@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 0 92px 4.5vw;
    }
}