.lead__subtitle {
    align-self: start;
    grid-row: 2;
    text-align: center;
    margin: 32px auto 64px;
    max-width: 640px;
}

@media screen and (min-width: 320px) {
    .lead__subtitle {
        grid-column: 1;
        max-width: 288px;
        font-size: 1rem;
        line-height: 125%;
    }
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        grid-column: 2;
        font-size: 1.875rem;
        line-height: 120%;
    }
}