.lead__subtitle{
    align-self: start;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    margin: 32px auto 64px;
    max-width: 640px;
    font-size: 1.875rem;
}
@media screen and (max-width: 768px) {
    .lead__subtitle{
        grid-column: 1;
        max-width: 288px;
        font-size: 1rem;
        line-height: 125%;
    }
}
