.cover{
    position: relative;
    color: white;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    width: 100%;
    display: grid;
    justify-items: center;
    justify-self: center;
}


@media screen and (min-width: 320px) {
    .cover{
        margin: 66px 0 64px;
        min-height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .cover{
        margin: 90px 0 88px;
        min-height: 480px;
    }
}
@media screen and (min-width: 1024px) {
    .cover{
        margin: 92px 0;
        min-height: 640px;
    }
}
@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}