.cover{
    margin: 92px auto;
    color: white;
    background-image: url("../../images/cover__background.png");
    background-size: cover;
    width: 1184px;
    height: 740px;
    display: grid;
    justify-items: center;
}
@media screen and (max-width: 1024px) {
    .cover{
        margin: 92px 0;
        width: 100vw;
        height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover{
        margin: 90px 0;
        width: 100vw;
        height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover{
        margin: 90px 0;
        width: 100vw;
        height: 200px;
    }
}