.cover__overlay{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .8s ease-in-out;
}
.cover__overlay:hover{
    opacity: 0.8;
}