.cover__overlay{
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .4s ease-in-out;
}
.cover__overlay:hover{
    opacity: 0.8;
}