.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    justify-self: start;
}

@media screen and (min-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}

@media screen and (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin: 0;
    }
}