.cover__title {
    z-index: 1;
    font-weight: 900;
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 2rem;
        line-height: 109%;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .cover__title {
        max-width: 560px;
        font-size: 4.5rem;
        line-height: 106%;
        padding-bottom: 32px;
    }
}
