.cover__title{
    text-decoration: none;
    color: white;
    max-width: 560px;
    text-align: center;
    font-weight: 900;
    margin: 0 auto;
    padding-bottom: 32px;
    line-height: 106%;
    font-size: 4.5rem;
}