.place__paragraph {
    max-width: 484px;
    margin: 0 auto 40px;
    justify-self: start;
    align-self: start;
    grid-column: 2;
    font-size: 1.125rem;
}

@media screen and(max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
    }
}