.lead__figure{
    margin: 0;
    align-self: start;
    justify-self: center;
    grid-column: 2;
    grid-row: 3;
}

@media screen and (max-width: 320px) {
    .lead__figure{
        grid-column: 1;
        justify-self: start;
    }
}