.place__website_link{
    grid-column: 2;
    grid-row: 2;
    color: white;
    transition: opacity .4s ease-in-out;
    font-size: 1.125rem;
    line-height: 122%;
}
.place__website_link:hover{
    opacity: 0.8;
}