.place {
    justify-self: start;
    margin: 0;
    list-style: none;
    grid-column: 2/4;
    display: grid;
    justify-items: start;
    align-items: start;
}

@media screen and (min-width: 320px) {
    .place {
        grid-template-columns: min-content;
        grid-template-rows: repeat(5, min-content);
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .place {
        grid-template-columns: min-content max-content;
        grid-template-rows: repeat(2, min-content);
        column-gap: 28px;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        column-gap: 32px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap: 40px;
        max-width: 984px;
    }
}
