.footer {
    max-width: 1184px;
    margin-bottom: 24px;
    justify-self: center;
    display: grid;
}

@media screen and (min-width: 320px) {
    .footer {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
    }
}

@media screen and (min-width: 768px) {
    .footer {
        width: 93.75vw;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 90.0625vw;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 92.5vw;
    }
}