.footer{
    width: 90vw;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,max-content);

}
@media screen and (max-width: 320px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,min-content);
    }
}