.intro__title {
    font-style: normal;
    font-weight: 900;
    margin: 0 0 40px;
    grid-row: 1;
}


@media screen and (min-width: 320px) {
    .intro__title {
        font-size: 2rem;
        line-height: 105%;
    }
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 3.375rem;
        line-height: 107%;
    }
}
