.intro__title{
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 107%;
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 40px;
}
@media screen and (max-width: 768px) {
    .intro__title {
        grid-column: 1;
        grid-row: 1;
    }
}
@media screen and (max-width: 320px) {
    .intro__title{
        max-height: 70px;
        font-size: 2rem;
        line-height: 105%;
    }
}